Package: lense-common
Version: 0.1-2
Architecture: all
Essential: no
Section: python
Priority: optional
Depends: python (>=2.7), python-crypto (>=2.6.1), python-mysqldb (>=1.2.3), python-django-auth-ldap (>=1.1.8-1), python-ldap (>=2.4.10)
Maintainer: David Taylor <djtaylor13@gmail.com>
Description: Common libraries for Lense API engine packages.
Homepage: https://github.com/djtaylor/lense-common