Source: lense-common
Section: python
Priority: optional
Maintainer: David Taylor <djtaylor13@gmail.com>
Build-Depends: debhelper (>= 9),
               python (>= 2.7),
               python-setuptools (>= 3.3),
               python-wheel (>= 0.24.0)
Standards-Version: 3.9.5
Homepage: https://github.com/djtaylor/lense-common
Vcs-Git: git://github.com/djtaylor/lense-common.git
Vcs-Browser: https://github.com/djtaylor/lense-common
X-Python-Version: >= 2.7

Package: lense-common
Architecture: all
Depends: python-crypto (>= 2.6.1)
Description: Common Python libraries, modules, and attributes shared by the Lense client, engine, and portal applications.